*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; /* Ganti nama font di sini juga */
  background-color: #ffffff;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif; /* Nanti kita ganti pakai font dari Figma */
  background-color: #ffffff;
  color: #333333; /* Biar default teks warnanya gelap, bukan putih */
}