@import "tailwindcss";

@theme {
  --color-finexa: #12A853;
  --color-finexaDark: #0e8a43;
}

@layer base {
  body {
    /* Pakai font Poppins untuk semua teks di body */
    font-family: 'Poppins', sans-serif;
    @apply antialiased text-gray-800;
  }

  h1, h2, h3, h4, h5, h6 {
    /* Pakai font Montserrat khusus untuk judul */
    font-family: 'Montserrat', sans-serif;
    @apply font-bold;
  }

  /* Paksa input dan button biar nggak pakai font bawaan browser */
  input, button, textarea, select {
    font-family: inherit;
  }
}